.area{
  
   /* box-shadow: 0 5px 35px 15px  rgba(30, 8, 6, 0.481),0 10px 16px 0 rgb(4, 37, 80); */
   color:#000;
    background:#fff ;
   /* opacity: 0.8; */
   height: 80vh;
   width: 100%;
   font-weight: bold;
   font-size: large;
    font-family: 'Times New Roman', Times, serif;
   font-display: block;
   letter-spacing: 0.8px;

   
   
}
.container{
    /* background: linear-gradient(100deg,#b2aeb3,#908d93); */
    background: #313030;
       background-repeat: no-repeat;
    height: 100vh;
    padding: 10px;
}
.mt-4{
    text-align: center;
    /* color: rgb(7, 7, 7); */
    color: #fff;