.area{
  
   /* box-shadow: 0 5px 35px 15px  rgba(30, 8, 6, 0.481),0 10px 16px 0 rgb(4, 37, 80); */
   color:#000;
    background:#fff ;
   /* opacity: 0.8; */
   height: 80vh;
   width: 100%;
   font-weight: bold;
   font-size: large;